@import "../../app";
.checkout-parent {
  padding-top: 80px;
  display: flex;
  justify-content: center;
  .warning-checkout-parent {
    padding: 100px 50px;
  }
  .fixed-top-left {
    position: fixed;
    top: 28px;
    left: 40px;
    z-index: 1;
    height: 20px;
    color: $white;
    &:hover {
      border-bottom: none;
    }
    .checkout-heading {
      font-size: 16px;
      &:hover {
        border-bottom: none;
      }
    }

  }
  .checkout-container {
    width: 800px;
    margin: 20px;
    .checkout-header {
      margin: 0 10px;
      .checkout-heading {
        font-size: 16px;
        color: $grey-text;
      }
    }
    .info-checkout-container {
      display: flex;
      .info-only-container {
        margin: 10px;
        flex: 1;
        .checkout-card-container {
          display: flex;
          background: $light-background;
          border-radius: 4px;
          min-height: 90px;
          margin: 10px 0 20px 0;
          align-items: center;
          &:last-child {
            margin-bottom: 0;
          }
          .checkout-item-parent {
            width: 70px;
            margin: 10px;
            padding: 10px;
            background: $white;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            height: 70px;
            img {
              width: 100%;
            }
          }
        }
        .checkout-card-address-container, .checkout-card-other-info-container {
          flex-direction: column;
          align-items: flex-start;

          .checkout-info-header {
            margin: 20px;
            color: $grey-text;
            font-size: 14px;
            font-weight: bolder;
          }
          .checkout-address-header {
            margin: 20px;
            color: $grey-text;
            font-size: 14px;
            font-weight: bolder;
          }
          .checkout-pickup-address {
            margin: 0 20px 20px 20px;
            display: flex;
            flex-direction: column;
            .address-line {
              font-size: 12px;
              margin: 5px 0;
              color: $grey-text;
              &:first-child {
                margin-top: 0;
              }
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
      .checkout-only-container {
        width: 340px;
        background: $light-background;
        border-radius: 4px;
        margin: 20px 10px;
        height: 390px;
        .payment-form {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          .stripe-button-container {
            position: relative;
            .button {
              margin: 20px;
              justify-content: flex-start;
              padding: 20px;
            }
            img {
              position: absolute;
              height: 20px;
              top: 30px;
              right: 40px;
            }
          }
          .DemoPickerWrapper {
            padding: 0 12px;
            font-family: "Source Code Pro", monospace;
            box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
            border-radius: 3px;
            background: white;
            margin: 24px 0 48px;
            width: 100%;
          }
          .DemoPicker {
            font-size: 18px;
            border-radius: 3px;
            height: 48px;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            border: 0;
            width: 100%;
            color: #6772e5;
            outline: none;
            background: transparent;

            -webkit-appearance: none;
          }
          .DemoWrapper {
            margin: 0 auto;
            max-width: 500px;
            padding: 0 24px;
            display: flex;
            flex-direction: column;
            height: 100vh;
          }
          .Demo {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-bottom: 40%;
          }

          label {
            color: #6b7c93;
            font-weight: 300;
            letter-spacing: 0.025em;
          }

          input,
          .StripeElement {
            display: block;
            padding: 10px 14px;
            font-size: 12px;
            outline: 0;
            border-radius: 4px;
            background: white;
            width: calc(100% - 40px);
            box-sizing: border-box;
            margin: 0 20px;
            border: 1px solid #dedede;
            color: $grey-text;
          }

          input::placeholder {
            color: #aab7c4;
          }

          .StripeElement.IdealBankElement,
          .StripeElement.FpxBankElement,
          .StripeElement.PaymentRequestButton {
            padding: 0;
          }

          .StripeElement.PaymentRequestButton {
            height: 40px;
          }

          .button {
            margin: 20px;
            // width: 150px;
          }
        }
        .order-cost-parent {
          margin: 20px;
          display: flex;
          flex-direction: column;
          .order-cost-section {
            display: flex;
            justify-content: space-between;
            height: 30px;
            .order-cost-child {
              color: $grey-text;
              font-size: 14px;
              margin: 5px 0;
              input {
                width: 50px;
                text-align: right;
              }
              /* Chrome, Safari, Edge, Opera */
              input::-webkit-outer-spin-button,
              input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }

              /* Firefox */
              input[type=number] {
                -moz-appearance: textfield;
              }
            }
          }
        }
        .checkout-button-container {
          display: flex;
          justify-content: center;
          .button {
            margin: 0;
            background: $primary;
          }
        }
      }
    }
  }
}


@media only screen and (max-width: 768px)  {
  .checkout-parent {
    .checkout-container {

      .checkout-header {
        .checkout-heading {
        }
      }
      .info-checkout-container {
        flex-direction: column-reverse;
        .info-only-container {
          .checkout-card-container {
            .checkout-item-parent {
              img {
              }
            }
          }
          .checkout-card-address-container, .checkout-card-other-info-container {
            .checkout-info-header {
            }
            .checkout-address-header {
            }
            .checkout-pickup-address {
              .address-line {
                &:first-child {
                }
                &:last-child {
                }
              }
            }
          }
        }
        .checkout-only-container {
          margin: 10px;
          margin-bottom: 0;
          width: auto;
        }
      }
    }
  }
}
