@import "../../app";

.shop-parent {
  padding-top: 80px;
  .category-navbar {
    background: $light-background;
    height: 60px;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    right: 0;
    overflow-x: scroll;
    display: flex;
    flex: 1;
    scroll-padding: 50px 0 0 50px;
    z-index: 1;
    &::-webkit-scrollbar {
      display: none;
    }
    .category-option {
      display: flex;
      height: 30px;
      justify-content: center;
      align-items: center;
      margin: 10px;
      padding: 10px;
      background: #FFFFFF;
      border-radius: 4px;
      box-sizing: border-box;
      border: 1px solid $border-light-grey;
      font-size: 10px;
      min-width: 150px;
      cursor: pointer;
      &:hover {
        background: $light-blue;
        border: none;
      }
    }
    .category-option-active {
      background: $secondary;
      border: none;
      color: $white;
      font-weight: bolder;
    }
  }
  .shop-container {
    padding: 10px 20px;
    margin-top: 60px;
    .shop-header {
      position: fixed;
      top: 28px;
      left: 40px;
      z-index: 1;
      height: 20px;
      color: $white;
      .shop-heading {
        font-size: 18px;
      }
    }
    .products-container {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

@media only screen and (max-width: 768px)  {
  .shop-parent {
    .shop-container {
      .shop-header {
        white-space: nowrap;
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        .shop-heading {

        }
      }
      .products-container {
        justify-content: center;
      }
    }
  }
}
