@import "../../app";
.navbar-parent {
  .top-navbar {
    width: 100%;
    height: 80px;
    background: $primary;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    .left-navbar-container {
      float: right;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
    }
    .right-navbar-container {
      float: right;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .navbar-item {
        position: relative;
        .cart-items-count {
          position: absolute;
          top: 0;
          right: 0;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background: $secondary;
          color: $white;
          font-weight: bold;
          font-size: 8px;
          cursor: pointer;
        }
        &:hover {

        }
      }
      .zip-code-input {
        width: 80px;
        text-align: center;
        margin: 0 20px;
      }
      span, svg {
        margin: 0 20px;
      }
      .profile-parent {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: $secondary;
        font-weight: bolder;
        &:hover {
          background: $white;
          color: $secondary;
        }
      }
    }
  }
  .sidebar-parent {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    box-shadow: $box-shadow;
    z-index: 1999;
    background: $light-background;
    display: flex;
    flex-direction: column;
    .empty-cart-container {
      margin: 100px 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      .button {
        margin: 20px;
      }
    }
    .items-list-container {
      display: flex;
      flex-direction: column;
      padding: 20px;
      background: $light-background;
      flex: 1;
      border-radius: 4px;
      .list-item-header {
        margin-bottom: 20px;
        .list-item-heading {
          font-size: 18px;
        }
      }
      .list-items {
        max-height: 500px;
        overflow: auto;
        .list-item-container {
          margin-bottom: 10px;
          background: $white;
          border-radius: 4px;
          cursor: pointer;
          height: 40px;
          padding: 0 20px;
          align-items: center;
          display: flex;
          &:hover {
            background: $light-blue;
            color: $white;
          }
        }
      }
      .inventory-save-btn-container {
        display: flex;
        justify-content: center;
        .button {
          margin: 10px 0;
        }
      }
    }
    .sidebar-icons-parent {
      justify-content: space-between;
      display: flex;
      padding: 0 20px 0 10px;
      .icon-class {
        fill: $secondary;
        &:hover {
          fill: $secondary;
        }
      }
      .icon-class-resize {
        width: 25px;
      }
    }
    .cart-container {
      margin: 0 20px 20px 20px;
      flex: 1;
      overflow-y: auto;
      .empty-cart-container {
        margin: 100px 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .button {
          margin: 20px;
        }
      }
      .one-plus-store-warning {
        font-size: 14px;
        margin: 20px 0;
        padding: 10px;
        border: 1px solid $warning-color;
        border-radius: 4px;
      }
      .single-store-container {
        .store-name-container {
          margin: 20px 0;
          font-size: 14px;
          font-weight: bolder;
          color: $grey-text;
        }
        .cart-sub-container {
          display: block;
          .cart-card-container {
            height: 90px;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 20px;
            color: #505050;
            font-weight: bolder;
            display: flex;
            position: relative;
            background: $white;
            justify-content: space-between;
            .cart-image-info-container {
              display: flex;
              .cart-item-image {
                height: 90px;
                width: 90px;
                box-sizing: border-box;
                border-radius: 4px 0 0 4px;
                background: $white;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                  width: 100%;
                  padding: 20px;
                  box-sizing: border-box;
                }
              }
              .cart-item-info-container {
                padding: 10px;
                font-size: 12px;
                color: #000;
                display: flex;
                flex-direction: column;
                .cart-item-info-span {
                  margin-bottom: 10px;
                }
              }
            }
            .cart-add-remove-parent {
              display: flex;
              justify-content: flex-end;
              flex-direction: column;
              .cart-add-remove-container {
                margin: 10px;
                height: 30px;
                width: 90px;
                border-radius: 4px;
                display: flex;
                background: $light-background;
                .add-remove-sub-container {
                  height: 30px;
                  width: 30px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  .icon-class {
                    width: 25px;
                    height: 25px;
                    fill: $secondary
                  }
                }
              }
            }
          }
        }
        .button {
          margin: 10px auto;
        }
      }
    }
    .menu-item {
      padding: 10px 30px;
      font-size: 20px;
      display: flex;
      &:hover {
        .icon-class {
            fill: $secondary;
        }
        .menu-link {
          color: $secondary;
          font-weight: bolder;
        }
      }
      .icon-class {
        height: 25px;
        width: 25px;
        fill: $secondary;
      }
      .menu-link {
        padding-bottom: 5px;
        font-size: 14px;
        color: $secondary;
        cursor: pointer;
        height: 25px;
        display: flex;
        align-items: center;
        margin-left: 20px;
      }
    }
  }
  .sidebar-parent-expanded {
    left: 0;
    right: 0;
    width: auto;
    .cart-container {
      .one-plus-store-warning {
        display: inline-block;
      }
      .single-store-container {
        .store-name-container {

        }
        .cart-sub-container {
          display: flex;
          flex-wrap: wrap;
          .cart-card-container {
            width: 300px;
            margin: 10px;
          }
        }
        .button {
          margin: 10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 624px)  {
  .navbar-parent {
    .top-navbar {
      .left-navbar-container {

      }
      .right-navbar-container {
        .zip-code-input {
        }
      }
    }
  }
  .sidebar-parent {
    left: 0;
    width: auto !important;
    .sidebar-icons-parent {
      .icon-class-resize {
        display: none;
      }
    }
  }
  .sidebar-parent-expanded {
    .cart-container {
      .one-plus-store-warning {
        margin: 20px 0 0 0 !important;
      }
    }
    .cart-sub-container {
      display: flex;
      flex-direction: column;
      .cart-card-container {
        width: auto !important;
        margin: 0 0 20px 0 !important;
        &:last-child {
          margin-bottom: 10px !important;
        }
      }
    }
    .button {
      margin: 10px auto !important;
    }
  }

}

@media only screen and (max-width: 500px)  {
  .navbar-parent {
    .top-navbar {
      .left-navbar-container {

      }
      .right-navbar-container {
        .zip-code-input {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px)  {
  .navbar-parent {
    .top-navbar {
      .left-navbar-container {

      }
      .right-navbar-container {
        .zip-code-input {
          display: none;
        }
        .navbar-item {
          .cart-items-count {
            display: none;
          }
        }
        .icon-class {
          display: none;
        }
      }
    }
  }
}
