@import "../../app";

.store-order-container {
  width: 300px;
  background: $light-background;
  margin: 0 20px;
  box-sizing: border-box;
  border-radius: 4px;
  justify-content: space-between;
  margin-bottom: 20px;
  height: 300px;
  position: relative;
  .button {
    width: 70px;
    position: absolute;
  }
  .store-order-information-container {
    padding: 20px 40px;
    overflow: auto;
    height: 100%;
    box-sizing: border-box;
    .store-order-cost {
      align-items: flex-end;
    }
    .store-order-detail {
      display: flex;
      flex-direction: column;
      height: 50px;
      justify-content: center;
      align-items: flex-end;
      border-bottom: 1px solid $border-light-grey;
      &:last-child {
        border-bottom: none;
      }
      .detail-heading {
        font-weight: bolder;
        margin: 5px 0;
        font-size: 12px;
      }
      .detail-info {
        font-weight: 400;
        color: $grey-text;
        font-size: 10px;
      }
      .button {
        margin: 0;
      }
    }
    .store-order-button {
      justify-content: flex-end;
    }
  }
}

.add-item-container {
  display: flex;
  flex-wrap: wrap;
  background: $light-background;
  padding: 10px;
  margin: 0 10px;
  border-radius: 4px;
  max-width: 820px;
  .item-image-container {
    height: 160px;
    width: 160px;
    margin: 10px;
    background: $white;
    position: relative;
    border-radius: 4px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
    }
    .camera-click-container {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      .icon-class {
        width: 30px;
        height: 30px;
        margin: 10px;
        fill: $white;
      }
    }
  }
  .item-inputs-container {
    width: 640px;
  }
  .description-text-area-parent {
    width: 100%;
    .text-area-input {
      width: calc(100% - 20px);
    }
  }
}

.shop-product {
  width: 250px;
  height: 325px;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 4px;
  cursor: pointer;
  .product-image-container {
    width: 250px;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 250px;
      padding: 50px;
      box-sizing: border-box;
    }
    .add-remove-bar {
      height: 30px;
      bottom: 10px;
      right: 10px;
      position: absolute;
      display: flex;
      border-radius: 4px;
      background: $light-background;
      .add-remove-sub-container {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-class {
          width: 25px;
          height: 25px;
          fill: $secondary;
          padding: 0;
          &:hover {
            fill: $secondary;
          }
        }
      }
    }
  }
  .product-info-container {
    height: 75px;
    background: $light-background;
    border-radius: 0 0 4px 4px;
    display: flex;
    font-size: 12px;
    box-sizing: border-box;
    .product-info-sub-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      .product-name {
        display: flex;
        align-items: center;
        margin: 0 20px;
        flex: 1;
        font-weight: bolder;
      }
      .product-quantity-unit {
        display: flex;
        align-items: center;
        margin: 0 20px;
        flex: 1;
        justify-content: space-between;
      }
    }
  }
}
.radio-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  .radio-label {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .radio-parent {
    width: 300px;
    display: flex;
    height: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid $border-light-grey;
    .active {
      background: $secondary;
      color: $white;
    }
    .radio-child {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 1px solid $border-light-grey;
      cursor: pointer;
      &:first-child {
        border-radius: 4px 0 0 4px;
      }
      &:last-child {
        border: none;
        border-radius: 0 4px 4px 0;
      }
      &:hover {
        &:not(.active) {
          background: lighten($secondary, 10%);
          color: $white;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px)  {
  .shop-product {
    width: 250px;
    height: 325px;
    .product-image-container {
      height: 250px;
      width: 250px;
    }
    .product-info-container {
      width: 250px;
    }
  }
}
