@import "../../app";

.store-home-parent {
  padding-top: 80px;
  .store-home-container {
    margin: 0 20px;
    display: flex;
    .store-orders-container {
      flex: 1;
      .store-orders-heading-container {
        margin: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .store-orders-heading {
          font-size: 18px;
        }
        .store-orders-view-all {
          color: $link-color;
          font-size: 14px;
          &:hover {
            cursor: pointer;
            font-weight: bold;
          }
        }
      }
      .store-orders {
        display: flex;
        flex-direction: column;
        min-width: 400px;
      }
    }
  }
}
