@import "../../app";

.store-home-parent {
  padding-top: 80px;
  .store-home-container {
    margin: 0 20px;
    display: flex;
    .store-orders-container {
      flex: 1;
      .store-orders-heading-container {
        margin: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        .store-orders-heading {
          font-size: 16px;
        }
        .store-orders-view-all {
          color: $link-color;
          font-size: 14px;
          &:hover {
            cursor: pointer;
            font-weight: bold;
          }
        }
      }
      .store-orders {
        display: flex;
        flex-wrap: wrap;
        min-width: 300px;
      }
    }
  }
}


@media only screen and (max-width: 768px)  {
  .store-home-parent {
    .store-home-container {
      .store-orders-container {
        .store-orders-heading-container {
          .store-orders-heading {
          }
          .store-orders-view-all {
            &:hover {
            }
          }
        }
        .store-orders {
          justify-content: center;
        }
      }
    }
  }
}
