@import "../../app";

.store-inventory-parent {
  padding-top: 80px;
  .store-inventory-header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: $grey-text;
    .store-inventory-heading {
      margin: 10px;
      font-size: 18px;
    }
    .button {
      width: 200px;
    }
  }
  .store-inventory-container {
    margin: 0 20px;
    padding: 0 20px;
  }
  .store-items-container {
    margin: 0 20px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .search-products-container {
      position: relative;
      width: 840px;
      .async-input-container {
        .text-input {
          margin: 0 0 10px 0;
          &:focus {
            box-shadow: $box-shadow;
          }
        }
      }
      .suggested-products-parent {
        height: 425px;
        width: 300px;
        margin: 10px 0;
        overflow: auto;
        border: 1px solid $border-light-grey;
        border-radius: 4px;
        position: absolute;
        z-index: 999;
        background: $white;
        top: 40px;
        box-shadow: $box-shadow;
        .suggested-product {
          display: flex;
          padding: 10px;
          border-bottom: 1px solid $border-light-grey;
          height: 50px;
          box-sizing: border-box;
          &:last-child {
            border-bottom: none;
          }
          .suggested-product-img {
            display: flex;
            img {
              width: 30px;
              margin: auto;
            }
          }
          .suggested-info-and-btn {
            display: flex;
            justify-content: space-between;
            flex: 1;
            .suggested-product-info {
              display: flex;
              flex-direction: column;
              margin: 0 10px;
              justify-content: space-evenly;
              .suggested-product-name {
                color: $grey-text;
                font-size: 12px;
              }
              .suggested-product-desc {
                color: $border-light-grey;
                font-size: 10px;
              }
            }
            .suggested-product-btn {
              .button {
                width: 50px;
                margin: 0;
                height: 30px;
                font-size: 10px;
              }
            }
          }
        }
      }
    }
    .add-items-button-container {
      margin: 10px;
      max-width: 840px;
      display: flex;
      justify-content: flex-end;
      .button {
        margin: 10px 0;
        width: 100px;
      }
    }
  }
}

@media only screen and (max-width: 768px)  {
  .store-inventory-parent {
    .store-inventory-header {
      padding: 0 10px;
      margin: 10px 15px 0 20px;
      .store-inventory-heading {
        color: $grey-text;
      }
      .button {
        width: 120px;
      }
    }
    .store-inventory-container {
    }
    .store-items-container {
      margin: 0 10px;
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .search-products-container {
        width: auto;
        .async-input-container {
          .text-input {
            margin: 10px 10px 20px 10px;
            width: 340px;
          }
        }
        .suggested-products-parent {
          top: 50px;
          left: 10px;
          width: 340px;
          .suggested-product {
            &:last-child {
            }
            .suggested-product-img {
              img {
              }
            }
            .suggested-info-and-btn {
              .suggested-product-info {
                .suggested-product-name {
                }
                .suggested-product-desc {
                }
              }
              .suggested-product-btn {
                .button {
                }
              }
            }
          }
        }
      }
      .add-item-parent {
        width: 360px;
        .add-item-container {
          .item-inputs-container {
            input {

            }
          }
          .description-text-area-parent {
            input {
              width: 300px;
            }
          }
        }
      }
      .add-items-button-container {
        .button {
        }
      }
    }
  }
}
