$primary: #295454;
$secondary: #369589;
$light-blue: #6ACCD1;
$beige: #F2D3A1;
$pink: #FE9A86;
$light-background: #f3f3f3;

$border-light-grey: #cacaca;
$link-color: #069ae2;
$white: #FFF;
$grey-text: #505050;

$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

* {
  letter-spacing: 1px;
}
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'Roboto', sans-serif;
}

.text-input {
  width: 300px;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  border-radius: 4px;
  border: 1px solid $border-light-grey;
  margin: 10px;
}

.navbar-fixed-input {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.button {
  margin: 10px;
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  background: $secondary;
  color: $white;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-class {
  height: 40px;
  width: 40px;
  cursor: pointer;
  fill: $light-blue;
  &:hover {
    fill: $white;
  }
}
